*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Home_page{
    width:100%;
    height: 100%;
}
/* .Right_side_bar{
    width:15vw;
    height: 100vh;
    border: 3px solid black;
    float: right;
    margin-top: -45%;
} */
.homepage_navbar{
    width: 100vw;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    z-index: 99;
    box-shadow: 1px 2px 2px rgb(238, 238, 238);
    background-color:white;
}
.search_box{
    margin-left: 20%;
    position: relative;

}
.search_box input{
    width:230%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 20px;
    font-size:0.9em;
    background-color:rgb(239, 239, 239);
}
.search_box button{
    position: absolute;
    background-color: #fff;
    border: none;
    outline: none;
    background: transparent;
    top: 8px;
    right: -230px;
    cursor: pointer;
    color:rgb(183, 176, 176);
    
}
.search_box button:hover{
    color:rgba(239,71,99,255);

}
.Live{
    color:rgb(183, 176, 176);
    text-decoration: none; 
    font-size: 18px;
    margin-right: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.homepage_navbar ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    margin-left:10%;
}
.homepage_navbar ul li{
    list-style: none;
}
.homepage_navbar ul li a{
    text-decoration: none;
    color:rgb(183, 176, 176);
    font-weight: 600;
    margin-left: 50px;
    padding: 10px 15px;
    font-size: 20px;
}
.homepage_navbar ul li a:hover{
    color:rgba(239,71,99,255);
}
/* Left-side_bar.............................................................................................. */
.hompage_container {
    display: flex;
    margin-top: 65px;
    background:#f5f5f5; 

 }
.Left_side_bar{
    width:22vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding: 20px 6px 5px 10px;

 }
 .Left_side_bar li:hover{
    background: #e3e3ee;

 }
 .Left_side_bar::-webkit-scrollbar{
    width:7px;
 }
 .Left_side_bar::-webkit-scrollbar-thumb{
   border-radius: 20px;
   background: #f5f5f5;
 }
 .Left_side_bar:hover::-webkit-scrollbar-thumb{
    background:#cccccc;

 }
.main_Leftside_bar{
    line-height: 40px;
    /* box-shadow: 2px 2px  rgb(238, 238, 238); */
    /* margin-top: -10px; */ 
}
.main_Leftside_bar h2{
    position: relative;
    display: flex;
    width: 30px;
    justify-content: space-evenly;
    margin-right: 55%;
    padding-bottom: 15px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.main_Leftside_bar ul li{
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main_Leftside_bar ul li a{
    color:black;
    font-weight: 300;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
    /* background-color:rgb(239, 239, 239); */
    border-radius: 1px;
}
.main_Leftside_bar ul{
    background-size: 100px 100px;
}
.Logo{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 40px;
    margin-top: -20px;
}
.Logo img{
    position: relative;
    width:70%;
    height: 70%;
    background:none;
    background: transparent;
    margin-left: 20px;
    margin-top: -13px;
    
}
/* profile ...................................................................................*/
.Lprofileimg{
    position: relative;
    margin-left:35%;
   
    
}
.Lprofileimg img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -10%; 
    cursor: pointer;
    transition: 0.2s;
}
.profile_name{
    display: flex;
    margin-left: 5px; 
    margin-top: -10px;
    width: 70px;
    height: 37px;
    border-radius: 5px;
    font-size: medium;  
  
}
.profile_name h3{
    padding-left: 12px;
}
/* follow................................................................................................ */
.Lunafollow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 70px;
    margin-left: -36px;
    font-size:small;
}
.follwer {
    line-height: 15px;
}
.following{
    line-height: 15px;
}
.follwer span b{
    padding-left: 20px;

}
.following span b{
    padding-left: 20px;
} 

/* home page components.......................................................... */
.hompage_container .homepage_components{
    width:50%;
    height: auto;
    padding: 20px 20px 0 30px;
    background: #f5f5f5;
    margin-left: 5%;
}
.hompage_container .homepage_components::-webkit-scrollbar{
    width:0;
}
.hompage_container .homepage_components .top_box{
    width:30%;
    height:260px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.hompage_container .homepage_components .top_box .create_story{
    width: 130px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  
    

}
.hompage_container .homepage_components .top_box .create_story img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   
    

}

.hompage_container .homepage_components .top_box .create_story .story_upload{
    width: 100%;
    height: 50px;
    background: #fff;
    position: relative;
    bottom: 50px;
    cursor: pointer;


}
.story_upload i{
    
    margin-left: 0 auto;
    position: relative;
    width:40px;
    height: 40px;
    font-size: 30px;
    margin-left: 45px;
    color: rgb(14, 81, 162);
    bottom: 12px;
    object-fit: cover;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: #ffff;
    border-radius: 100%;
    object-fit: cover;
    object-position:center;
    cursor: pointer;
}
.story span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 17px;
    color:black;
    font-weight: bold;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.story{
    text-decoration: none;
}


.hompage_container .homepage_components .top_box .Youer_story{
    width: 130px;
    height: 200px;
    overflow: hidden;
    /* margin: 0 auto; */
    margin-left: 21px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.hompage_container .homepage_components .top_box .Youer_story img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    filter:brightness(0.7);
}
.hompage_container .homepage_components .top_box .Youer_story .youer_story_upload{
    position: relative;
    bottom: 30px;
    margin-left: 3px;
   
    
}
.name span{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    position: relative;
    color:black;
    font-weight: bold;
    font-size: 14px;
    color:aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.name{
    text-decoration: none;
   
}
.name span:hover{
    color:dodgerblue;
}
.hompage_container .homepage_components .top_box .Friend_story{
    width: 130px;
    height: 200px;
    overflow: hidden;
    /* margin: 0 auto; */
    margin-left: 21px;
    box-shadow: 0 1px 8px #00000033;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.hompage_container .homepage_components .top_box .Friend_story img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    filter: brightness(0.7);
    
}
.hompage_container .homepage_components .top_box .Friend_story .Friend_story_upload{
    position: relative;
    bottom: 30px;
    margin-left: 3px;
   
    
}
.friend span{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    position: relative;
    color:black;
    font-weight: bold;
    font-size: 14px;
    color:aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.friend{
    text-decoration: none;
   
}
.friend span:hover{
    color:dodgerblue;
}
.hompage_container .homepage_components .top_box .Luna_story{
    width: 130px;
    height: 200px;
    overflow: hidden;
    /* margin: 0 auto; */
    margin-left: 21px;
    box-shadow: 0 1px 8px #00000033;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.hompage_container .homepage_components .top_box .Luna_story img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position:center;
    filter: brightness(0.7);
    
}
.hompage_container .homepage_components .top_box .Luna_story .Luna_story_upload{
    position: relative;
    bottom: 30px;
    margin-left: 3px;

}
.luna span{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    position: relative;
    color:black;
    font-weight: bold;
    font-size: 14px;
    color:aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.luna{
    text-decoration: none;
   
}
.luna span:hover{
    color:dodgerblue;
}





